In [2]:
import pandas as pd

melbourne_file_path = "https://raw.githubusercontent.com/dphi-official/First_ML_Model/master/melbourne_data.csv"
melbourne_data = pd.read_csv(melbourne_file_path)
melbourne_data.columns

Index(['Unnamed: 0', 'Rooms', 'Bathroom', 'Landsize', 'Lattitude',
       'Longtitude', 'Price'],
      dtype='object')

In [4]:
melbourne_data.shape

(6196, 7)

In [5]:
y = melbourne_data.Price

In [6]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
x = melbourne_data[melbourne_features]
x.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [7]:
x.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     156.0   -37.8079    144.9934
1      3       2.0     134.0   -37.8093    144.9944
2      4       1.0     120.0   -37.8072    144.9941
3      3       2.0     245.0   -37.8024    144.9993
4      2       1.0     256.0   -37.8060    144.9954

In [8]:
y.head()

0    1035000.0
1    1465000.0
2    1600000.0
3    1876000.0
4    1636000.0
Name: Price, dtype: float64

In [10]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
melbourne_model = DecisionTreeRegressor(random_state=1)

# Fit model
melbourne_model.fit(x, y)

DecisionTreeRegressor(random_state=1)

In [11]:
print("Making predictions for the following 5 houses:")
print(x.head())
print("The predictions are")
print(melbourne_model.predict(x.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     156.0   -37.8079    144.9934
1      3       2.0     134.0   -37.8093    144.9944
2      4       1.0     120.0   -37.8072    144.9941
3      3       2.0     245.0   -37.8024    144.9993
4      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]