### Data Visualization with Seaborn
####  Do higher film budgets lead to more revenue in the box office? Should a movie studio spend more on a film to

### Explore and Clean the Data

In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
cost_revenue_df = pd.read_csv('cost_revenue_dirty.csv')
cost_revenue_df

,Rank,Release_Date,Movie_Title,USD_Production_Budget,USD_Worldwide_Gross,USD_Domestic_Gross
0,5293,8/2/1915,The Birth of a Nation,"$110,000","$11,000,000","$10,000,000"
1,5140,5/9/1916,Intolerance,"$385,907",$0,$0
2,5230,12/24/1916,"20,000 Leagues Under the Sea","$200,000","$8,000,000","$8,000,000"
3,5299,9/17/1920,Over the Hill to the Poorhouse,"$100,000","$3,000,000","$3,000,000"
4,5222,1/1/1925,The Big Parade,"$245,000","$22,000,000","$11,000,000"
...,...,...,...,...,...,...
5386,2950,10/8/2018,Meg,"$15,000,000",$0,$0
5387,126,12/18/2018,Aquaman,"$160,000,000",$0,$0
5388,96,12/31/2020,Singularity,"$175,000,000",$0,$0
5389,1119,12/31/2020,Hannibal the Conqueror,"$50,000,000",$0,$0
5390,2517,12/31/2020,"Story of Bonnie and Clyde, The","$20,000,000",$0,$0

In [32]:
cost_revenue_df.shape

(5391, 6)

In [33]:
cost_revenue_df.isnull().sum()

Rank                     0
Release_Date             0
Movie_Title              0
USD_Production_Budget    0
USD_Worldwide_Gross      0
USD_Domestic_Gross       0
dtype: int64

In [34]:
cost_revenue_df[cost_revenue_df.duplicated() == 'True']

Empty DataFrame
Columns: [Rank, Release_Date, Movie_Title, USD_Production_Budget, USD_Worldwide_Gross, USD_Domestic_Gross]
Index: []

In [35]:
cost_revenue_df.dtypes

Rank                      int64
Release_Date             object
Movie_Title              object
USD_Production_Budget    object
USD_Worldwide_Gross      object
USD_Domestic_Gross       object
dtype: object

In [36]:
# df_apps_clean.Installs = df_apps_clean.Installs.str.replace(',', '').astype(int)

chars_to_remove = [',', '$']
columns_to_clean = ['USD_Production_Budget', 
                    'USD_Worldwide_Gross',
                    'USD_Domestic_Gross']
for col in columns_to_clean:
#     for char in chars_to_remove:
    cost_revenue_df[col] = cost_revenue_df[col].str.replace(',', '').astype(str)
    cost_revenue_df[col] = cost_revenue_df[col].str.replace('$', '').astype(int)
#         cost_revenue_df[col] = pd.to_numeric(cost_revenue_df[col])

/tmp/ipykernel_79153/2755349399.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  cost_revenue_df[col] = cost_revenue_df[col].str.replace('$', '').astype(int)

In [37]:
cost_revenue_df.dtypes

Rank                      int64
Release_Date             object
Movie_Title              object
USD_Production_Budget     int64
USD_Worldwide_Gross       int64
USD_Domestic_Gross        int64
dtype: object

In [38]:
cost_revenue_df.Release_Date = pd.to_datetime(cost_revenue_df.Release_Data)
cost_revenue_df

AttributeError: 'DataFrame' object has no attribute 'Release_Data'