In [1]:
from google.cloud import bigquery

In [2]:
client = bigquery.Client()

In [3]:
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

In [4]:
dataset = client.get_dataset(dataset_ref)

In [5]:
tables = list(client.list_tables(dataset))

for table in tables:
    print(table.table_id)

comments
full
full_201510
stories

In [6]:
table_ref = dataset_ref.table("full")

table = client.get_table(table_ref)

In [11]:
print(table.schema)

[SchemaField('title', 'STRING', 'NULLABLE', None, 'Story title', (), None), SchemaField('url', 'STRING', 'NULLABLE', None, 'Story url', (), None), SchemaField('text', 'STRING', 'NULLABLE', None, 'Story or comment text', (), None), SchemaField('dead', 'BOOLEAN', 'NULLABLE', None, 'Is dead?', (), None), SchemaField('by', 'STRING', 'NULLABLE', None, "The username of the item's author.", (), None), SchemaField('score', 'INTEGER', 'NULLABLE', None, 'Story score', (), None), SchemaField('time', 'INTEGER', 'NULLABLE', None, 'Unix time', (), None), SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', None, 'Timestamp for the unix time', (), None), SchemaField('type', 'STRING', 'NULLABLE', None, 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', (), None), SchemaField('id', 'INTEGER', 'NULLABLE', None, "The item's unique id.", (), None), SchemaField('parent', 'INTEGER', 'NULLABLE', None, 'Parent comment ID', (), None), SchemaField('descendants', 'INTEGER', 'NULLABLE', None, 'Number of story or poll descendants', (), None), SchemaField('ranking', 'INTEGER', 'NULLABLE', None, 'Comment ranking', (), None), SchemaField('deleted', 'BOOLEAN', 'NULLABLE', None, 'Is deleted?', (), None)]

In [8]:
import db_dtypes

client.list_rows(table, max_results=5).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,"I would rather just have wired earbuds, period...",<NA>,zeveb,<NA>,1591717736,2020-06-09 15:48:56+00:00,comment,23467666,23456782,<NA>,<NA>,<NA>
1,None,None,DNS?,<NA>,nly,<NA>,1572810465,2019-11-03 19:47:45+00:00,comment,21436112,21435130,<NA>,<NA>,<NA>
2,None,None,These benchmarks seem pretty good. Filterable...,<NA>,mrkeen,<NA>,1591717727,2020-06-09 15:48:47+00:00,comment,23467665,23467426,<NA>,<NA>,<NA>
3,None,None,Oh really?<p>* Excel alone uses 86.1MB of priv...,<NA>,oceanswave,<NA>,1462987532,2016-05-11 17:25:32+00:00,comment,11677248,11676886,<NA>,<NA>,<NA>
4,None,None,These systems are useless. Of the many flaws:...,<NA>,nyxxie,<NA>,1572810473,2019-11-03 19:47:53+00:00,comment,21436113,21435025,<NA>,<NA>,<NA>

In [10]:
tables = list(client.list_tables(dataset))
print(len(tables))

4

In [12]:
dataset_ref = client.dataset("openaq", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# List all the tables in the "openaq" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there's only one!)
for table in tables:  
    print(table.table_id)

global_air_quality

In [13]:
table_ref = dataset_ref.table("global_air_quality")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the "global_air_quality" table
client.list_rows(table, max_results=5).to_dataframe()

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours,location_geom
0,"Borówiec, ul. Drapałka",Borówiec,PL,bc,0.85217,2022-04-28 07:00:00+00:00,µg/m³,GIOS,1.0,52.276794,17.074114,POINT(52.276794 1)
1,"Kraków, ul. Bulwarowa",Kraków,PL,bc,0.91284,2022-04-27 23:00:00+00:00,µg/m³,GIOS,1.0,50.069308,20.053492,POINT(50.069308 1)
2,"Płock, ul. Reja",Płock,PL,bc,1.41000,2022-03-30 04:00:00+00:00,µg/m³,GIOS,1.0,52.550938,19.709791,POINT(52.550938 1)
3,"Elbląg, ul. Bażyńskiego",Elbląg,PL,bc,0.33607,2022-05-03 13:00:00+00:00,µg/m³,GIOS,1.0,54.167847,19.410942,POINT(54.167847 1)
4,"Piastów, ul. Pułaskiego",Piastów,PL,bc,0.51000,2022-05-11 05:00:00+00:00,µg/m³,GIOS,1.0,52.191728,20.837489,POINT(52.191728 1)

In [14]:
query = """
        SELECT city
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country = 'US'
        """

In [15]:
query_job = client.query(query)

In [16]:
us_cities = query_job.to_dataframe()

In [17]:
us_cities

                                             city
0                                          HOWARD
1                                          HOWARD
2                                          HOWARD
3                                          HOWARD
4                                          HOWARD
...                                           ...
1421346  New York-Northern New Jersey-Long Island
1421347  New York-Northern New Jersey-Long Island
1421348  New York-Northern New Jersey-Long Island
1421349  New York-Northern New Jersey-Long Island
1421350  New York-Northern New Jersey-Long Island

[1421351 rows x 1 columns]

In [18]:
us_cities.city.value_counts()

Phoenix-Mesa-Scottsdale                     39414
Los Angeles-Long Beach-Santa Ana            27479
Riverside-San Bernardino-Ontario            26887
New York-Northern New Jersey-Long Island    25417
San Francisco-Oakland-Fremont               22710
                                            ...
WILL                                            1
Cleveland                                       1
SANGAMON                                        1
CURRY                                           1
College Station-Bryan                           1
Name: city, Length: 826, dtype: int64