In [1]:
from google.cloud import bigquery

In [2]:
client = bigquery.Client()

In [3]:
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

In [4]:
dataset = client.get_dataset(dataset_ref)

In [5]:
tables = list(client.list_tables(dataset))

for table in tables:
    print(table.table_id)

comments
full
full_201510
stories

In [6]:
table_ref = dataset_ref.table("full")

table = client.get_table(table_ref)

In [11]:
print(table.schema)

[SchemaField('title', 'STRING', 'NULLABLE', None, 'Story title', (), None), SchemaField('url', 'STRING', 'NULLABLE', None, 'Story url', (), None), SchemaField('text', 'STRING', 'NULLABLE', None, 'Story or comment text', (), None), SchemaField('dead', 'BOOLEAN', 'NULLABLE', None, 'Is dead?', (), None), SchemaField('by', 'STRING', 'NULLABLE', None, "The username of the item's author.", (), None), SchemaField('score', 'INTEGER', 'NULLABLE', None, 'Story score', (), None), SchemaField('time', 'INTEGER', 'NULLABLE', None, 'Unix time', (), None), SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', None, 'Timestamp for the unix time', (), None), SchemaField('type', 'STRING', 'NULLABLE', None, 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', (), None), SchemaField('id', 'INTEGER', 'NULLABLE', None, "The item's unique id.", (), None), SchemaField('parent', 'INTEGER', 'NULLABLE', None, 'Parent comment ID', (), None), SchemaField('descendants', 'INTEGER', 'NULLABLE', None, 'Number of story or poll descendants', (), None), SchemaField('ranking', 'INTEGER', 'NULLABLE', None, 'Comment ranking', (), None), SchemaField('deleted', 'BOOLEAN', 'NULLABLE', None, 'Is deleted?', (), None)]

In [8]:
import db_dtypes

client.list_rows(table, max_results=5).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,"I would rather just have wired earbuds, period...",<NA>,zeveb,<NA>,1591717736,2020-06-09 15:48:56+00:00,comment,23467666,23456782,<NA>,<NA>,<NA>
1,None,None,DNS?,<NA>,nly,<NA>,1572810465,2019-11-03 19:47:45+00:00,comment,21436112,21435130,<NA>,<NA>,<NA>
2,None,None,These benchmarks seem pretty good. Filterable...,<NA>,mrkeen,<NA>,1591717727,2020-06-09 15:48:47+00:00,comment,23467665,23467426,<NA>,<NA>,<NA>
3,None,None,Oh really?<p>* Excel alone uses 86.1MB of priv...,<NA>,oceanswave,<NA>,1462987532,2016-05-11 17:25:32+00:00,comment,11677248,11676886,<NA>,<NA>,<NA>
4,None,None,These systems are useless. Of the many flaws:...,<NA>,nyxxie,<NA>,1572810473,2019-11-03 19:47:53+00:00,comment,21436113,21435025,<NA>,<NA>,<NA>

In [10]:
tables = list(client.list_tables(dataset))
print(len(tables))

4