# Lego Analysis

<img src="assets/bricks.jpg">

In [2]:
import pandas as pd
import numpy as np

In [4]:
colors = pd.read_csv('data/colors.csv')
colors

       id                          name     rgb is_trans
0      -1                       Unknown  0033B2        f
1       0                         Black  05131D        f
2       1                          Blue  0055BF        f
3       2                         Green  237841        f
4       3                Dark Turquoise  008F9B        f
..    ...                           ...     ...      ...
130  1004  Trans Flame Yellowish Orange  FCB76D        t
131  1005             Trans Fire Yellow  FBE890        t
132  1006        Trans Light Royal Blue  B4D4F7        t
133  1007                 Reddish Lilac  8E5597        f
134  9999                    [No Color]  05131D        f

[135 rows x 4 columns]

In [5]:
colors['name'].nunique()

135

#### Number of transparent colors

In [7]:
colors.groupby('is_trans').count()

           id  name  rgb
is_trans
f         107   107  107
t          28    28   28

In [8]:
colors.is_trans.value_counts()

f    107
t     28
Name: is_trans, dtype: int64